/* Global styles */
body {
    background-color: black;
    color: white;

  }
  h3{
    text-align: start;
    margin-top:12px;
    margin-bottom: 0;
    padding-bottom:0;

  }
  .App {
    transform: scale(.9);
    /* Component styles */
    @import "./Components/CreditContent/styles/creditContent.scss";
    @import "./Components/EmailContent/styles/emailContent.scss";
    @import "./Components/Logo/styles/logo.scss";
    @import "./Components/MainContent/styles/mainContent.scss";
    @import "./Components/MediaContent/styles/mediaContent.scss";
    @import "./Components/OtherContent/styles/otherContent.scss";
    @import "./Components/Search/styles/search.scss";
    @import "./Components/ShoppingContent/styles/shoppingContent.scss";
    @import "./Components/SocialContent/styles/socialContent.scss";
  }
  